{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container py-5">
{% if user.is_authenticated and request.user.username == blog.author.user.username %}
        <span><a href="{% url 'blog-update' blog.id %}" class="btn btn-warning">Update</a></span>
        {% if user.is_staff or request.user.username == blog.author.user.username %}
        <span><a href="{% url 'blog-delete' blog.id %}" class="btn btn-danger float-end">Delete</a></span>
        {% endif %}
{% endif %}

  <div class='row'>
    <div class='col-15 offset-0'>
    <div class='card' style='padding: 10px;'>
        <h2>{{ blog.title|title }}</h2>
        {% if blog.thumbnail %}
        <img src="{{ blog.thumbnail.url }}" class="card-img-top" alt="..." width="107" height="700">
        {% endif %}
        <br>
        <div>
        <h5>{{ blog.content }}</h5>
        </div>
        <div>
            <span><i class="fa-solid fa-comments"></i> {{ blog.get_comment_count }}</span>
            <span><i class="fa-solid fa-eye"></i> {{ blog.get_view_count }}</span>
            <span>
              <a class="text-muted" href="{{ blog.get_like_url }}">
                {% if request.user.is_authenticated %}
                <i class="fa-solid fa-hands-clapping">
                </i> {{ blog.get_like_count }}
                {% endif %}
              </a>
            </span>
            <span class='float-end'>Posted {{ blog.publish_date|timesince }} ago</span>
        </div>
        <div>
            {% if request.user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class='btn btn-primary' type='submit'>Submit</button>
                </form>
                <hr />
                <h5>Comments</h5>
                {% for comment in blog.blogcomment_set.all %}
                    <div>
                        <p>{{comment.commenter}}
                        <br />
                        {{ comment.content }}
                        <br />
                        <small>{{ comment.timestamp|timesince }} ago</small>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
            <a href="{% url 'account_login' %}?next={{request.path}}" class="btn btn-primary btn-block">Login to comment</a>
            {% endif %}
        </div>
    </div>
    </div>
  </div>

</div>
{% endblock %}
