{% extends "base.html" %}

{% block content %}

<div class="container pt-5">
    {% block content_header %}
      {% if user.is_authenticated %}
      <p class="py-3">
        <a href="{% url 'blog-create' %}" class="btn btn-info">Create a new blog</a>
      </p>  
      {% endif%}
    {% endblock %}
    <h1 class="display-6 my-3">Latest blog posts</h1>

    {% if blog_list %}
    <ul class="list-unstyled">

      {% for blog in blog_list %}
      <li class="mb-3 text-muted small">
        <a class="blog-list1 lead on-hover" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{blog.publish_date|timesince}} ago) — <a class="text-muted" href="{% url 'author-detail' blog.author.id %}">{{ blog.author }}</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no blogs.</p>
    {% endif %}
    
</div>
{% endblock %}
