{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<p><a href="{% url 'blog-update' blog.id %}" class="btn btn-warning">Update blog</a></p>
{% endif %}
<h1>{{ blog.title }}</h1>
<p><strong>Post date</strong> {{ blog.post_date }}</p>
<p><strong>Author:</strong> <a href="{% url 'author-detail' blog.author.id %}">{{ blog.author }}</a></p>
<p><strong>Description:</strong></p>
<p style="white-space:pre-wrap;">{{ blog.description }}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Comments</h4>

{% for comment in blog.blogcomment_set.all %}
<hr>
<p>{{comment.commenter}} ({{comment.post_date}}) - {{comment.description}}</p>
{% endfor %}
<hr>

{% if user.is_authenticated %}
{# <a href="{% url 'comment-create' blog.id %}">Add a new comment</a></p>#}
  <h4>Leave a comment below</h4>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form|crispy}}  
    </table>
   <button type="submit" class="btn btn-primary">Comment</button> 
  </form>
{% else %}
  <p><a href="{% url 'account_login'%}?next={{request.path}}">Login</a> to add a new comment</p>
{% endif %} 


</div>
{% endblock %}
