<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
    {% block head_title %}OS|BH{% endblock head_title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>

    {#--------------------------Nav bar---------------------- #}

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
          <a href="{% url 'landing-page' %}"
          class="navbar-brand text-info"
          >OS|BH<img src="{% static 'img/OSBH-test5.ico' %}" class="img-fluid w-25">
          </a>

          <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navmenu"
          >
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navmenu">
              <ul class="navbar-nav ms-auto" >
                  <li class="nav-item active">
                      <a href="{% url 'blogs' %}" class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item active">
                      <a href="#collaborate" class="nav-link">contribute</a>
                  </li>
                  <li class="nav-item active">
                      <a href="#forum" class="nav-link">chat about a passion</a>
                  </li>
                  <li class="nav-item active">
                      <a href="#faqs" class="nav-link">FAQs</a>
                  </li>
                  <li class="nav-item active">
                      <a href="#developers" class="nav-link">Root Developers</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_logout' %}?next={{request.path}}">Logout</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link text-info h5"> Welcome  {{ user.get_username }}</a>
                  </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_login' %}?next={{request.path}}">Login</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_signup' %}?next={{request.path}}">Signup</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>


    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}

  
    {% block content %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock %}
  

    {#-------------------------- Footer ---------------------- #}

    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">
          <p class="lead">Copyright &copy; 2023 OS|BH</p>

          <a href="#" class="position-absolute bottom-0 end-0 p-5">
              <i class="bi bi-arrow-up-circle h1"></i>
          </a>
      </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
