{% extends "base.html" %}

{% block content %}
<div class="container py-4 my-1">
    <div class="top-bar bg-info px-5 py-1">
        <h1>
            Forum
            {% if user.is_authenticated %}
            <a href="{% url 'thread-create' %}" class="btn btn-light float-end mt-1">Create a new thread</a>
            {% else %}
            <a href="{% url 'account_login' %}?next={{request.path}}" class="btn btn-secondary btn-block float-end addmargin">Login to create a thread</a>
            {% endif%}
        </h1>
    </div>
    <div class="main bg-light px-3">
        <ol>
          {% for thread in threads %}
          <li class="row">
            <a class="text-decoration-none" href="{{ thread.get_absolute_url }}">
              <h4 class="text-dark pt-4 book">{{thread.title}}</h4>
              <div class="d-flex text-muted">
                <p class="timestamp">{{thread.timestamp|timesince}} ago</p>
                <p class="px-4">
                  {{thread.discussion_set.all.count}} comments
                </p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}