{% extends "base.html" %}

{% block content %}

<div class="container py-5 vh-100">

  {% block content_header %}
    <h2>Selected Resource</h2>
    {% if user.is_authenticated %}
    <p>
      <a href="{% url 'file-upload' %}" class="btn btn-info mt-3">Upload a book</a>
    </p>
    {% endif %}
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Preview</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            {% if file.cover %}
              <img src="{{ file.cover.url }}" alt="{{ file.title }}" style="width:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>{{ file.title }}</td>
          <td>{{ file.author }}</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#previewModal">
              Preview
            </button>

            <!-- Modal -->
            <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-info" id="previewModalLabel">{{ file.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <embed src="{{ file.pdf.url }}#toolbar=0" frameborder="0" width="100%" height="500px">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </td>
          {% if user.is_authenticated %}
            {%if uploader.has_uploaded %}
            <td>
              <a href="{{ file.pdf.url }}" class="btn btn-success btn-sm" target="_blank">
                Download File
              </a>
            </td>
            {% else %}
            <td>
              <a href="{% url 'file-upload' %}" class="btn btn-info btn-sm">
                Upload a book/article to unlock download button
              </a>
            </td>
            {% endif %}
          {% else %}
            <td>
              <a href="{% url 'account_login'%}?next={{request.path}}" class="btn btn-secondary btn-sm">
                Login
              </a>
            </td>
          {% endif %}
        </tr>
    </tbody>
  </table>

</div>
{% endblock %}
