{% extends "base.html" %}

{% block content %}

<div class="container pt-5">

  {% block content_header %}
    <h2>Latest Books Uploaded</h2>
    {% if user.is_authenticated %}
    <p>
      <a href="{% url 'file-upload' %}" class="btn btn-primary">Upload file</a>
    </p>
    {% endif %}
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>
            {% if file.cover %}
              <img src="{{ file.cover.url }}" alt="{{ file.title }}" style="width:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'file-detail' file.id %}">
              {{ file.title }}
            </a>
          </td>
          <td>{{ file.author }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
