{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="text-center py-2">
      {% block content_header %}
      <h2>Latest Books Uploaded</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="d-sm-flex justify-content-around align-items-center">
      <div>
        <a href="{% url 'file-upload' %}" class="btn btn-info">Add a resource</a>
      </div>
    </div>
    {% endif %}
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr class="book-div">
          <td>
            {% if file.cover %}
              <img class="img-fluid zoom-on-hover" src="{{ file.cover.url }}" alt="{{ file.title }}" style="width:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>
            <a class="text-info lead text-decoration-none book" href="{% url 'file-detail' file.id %}">
              {{ file.title }}
            </a>
          </td>
          <td>{{ file.author }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {# -----------Paginator ----------------- #}
  {% if files.has_other_pages %}
  <nav style="margin-top: 5px;">
    <ul class="pagination justify-content-center">
      {% if files.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ files.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
      {% endif %}

      {% for p in files.paginator.page_range %}
        {% if files.number == p %}
          <li class="page-item"><a class="page-link" style="color: red;" href="#">{{p}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}

      {%if files.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ files.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  {# ----------- Boxes for blogs----------------- #}
    <section id="blog" class="p-5">
      <div class="container">
        <P class="h2 text-info text-center mb-4">Check out the most recent blogs</P>
          <div class="row text-center g-4">
              {% for blog in blogs %}
              <div class="col-md">
                  <div class="card bg-light text-secondary">
                      <div class="card-body text-center">
                          <div class="h1 mb-3">
                              <i class="fa fa-blog blog-list1"></i>
                          </div>
                          <h3 class="card-title mb-3">{{blog.title}}
                          </h3>
                          <p class="card-text">
                              {{blog.content|safe|truncatewords:20}}
                          </p>
                          <a href="{{blog.get_absolute_url}}" class="btn btn-info">Read More</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </section>
</div>
{% endblock %}
