<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'file-list' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blogs' %}">Blog <span class="sr-only"></span></a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_logout' %}?next={{request.path}}">Logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"> Welcome  {{ user.get_username }}</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_login' %}?next={{request.path}}">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_signup' %}?next={{request.path}}">Signup</a>
        </li>
        {% endif %}
        <form class="d-flex" role="search" method="POST" action="{% url 'search-result' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="searched" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> 
      </ul>
    </div>
  </nav>