body::before {
  display: block;
  content: '';
  height: 60px;
}


.zoom-on-hover:hover {
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

@media(min-width: 768px) {
  .file-upload {
      width: 50%;
  }
}
